[2016-07-19 20:58] richbl opened #1 "Creating simple colored radio"
Very good library.

I have a simple question: how to create a simple solid-colored radio, such as this:

![image](https://cloud.githubusercontent.com/assets/10182110/16966285/b0c462da-4db8-11e6-98b0-51d727bfbacc.png)

Attempting to use FA won't work because the icon is inverted (color), so I'm not sure how best to proceed using this library.

Thanks

[2016-07-20 11:50] lokesh-coder commented on #1
hey @richbl , thanks for raising this question.

I have updated the Repo and Documentation for default radio checked style.
https://lokesh-coder.github.io/pretty-checkbox/#radio

Here's how the radio button markup looks,
[code]
Have to add `default` class to `i` tag, if you not wanted to use any icons for that.

Thanks!

[2016-07-20 14:26] richbl commented on #1
Looks great.

Please let me know when you've pushed the update to npm, and I'll give it a go.

Thanks

[2016-07-20 14:28] lokesh-coder commented on #1
Its updated. Go ahead and give it a try. :)

[2016-07-20 14:36] richbl commented on #1
Got the update. Looks great.

Thanks

[2016-07-20 14:36] #1 closed

[2016-09-02 16:11] k-schneider opened #3 "New npm release?"
Hello,

I  see that master allows you to override colors but the latest version in npm (2.0.2) does not.

Any chance this change could be pushed up?

Love your work by the way.  Thanks!

[2016-09-04 07:09] lokesh-coder commented on #3
Thanks @k-schneider ,

Did a fix and updated the code and npm to to 2.0.3.

[2016-09-16 00:40] #3 closed

[2016-10-19 21:41] swrobel opened #4 "They don't print"
Any idea why this is? I get a � instead of the checkbox on Safari, Firefox and Chrome on my Mac.

[2016-10-20 00:12] benmcmaster commented on #4
I am seeing the same issue. If you print the demo page you will see the issue:
https://lokesh-coder.github.io/pretty-checkbox/

In the library that inspired this one everything prints fine:
https://github.com/flatlogic/awesome-bootstrap-checkbox

@lokesh-coder Any ideas of how we can make this print correctly?

[2016-10-24 18:47] lokesh-coder commented on #4
Thanks @swrobel and @benmcmaster  for pointing out this issue. I never thought of printing :)

I have updated the repo ( v2.0.4 ). Hope this will fix the issue in all browsers.

[2016-10-24 18:54] swrobel commented on #4
I'm not sure if the demo site has been updated or not, but I still see the issue there. It's worth noting that this Bootstrap rule seems to be causing the invisible character to display on print media: https://github.com/twbs/bootstrap/blob/v3.3.6/less/print.less#L13

[2016-10-24 19:57] lokesh-coder commented on #4
Yes, the demo site is not yet updated. Actually the junk character is created to calculate the approximate size of the icon, to draw the checkbox border.

https://github.com/lokesh-coder/pretty-checkbox/blob/master/src/scss/decorators/_core.scss#L37

Just after you pointed out the issue, I realized the junk character should be transparent in print media as well.

Thanks for checking.. :)

[2016-10-26 01:53] benmcmaster commented on #4
Awesome. Thanks! That change plus removing bootstrap printed styles solved the issue. Although I noticed that you added some !important styles around that broke some of my overrides. All good. I just had to add some !important styles on my overrides.

[2017-03-30 20:46] #4 closed

[2017-04-01 10:25] michaelhertig opened #5 "Doesn't work with the official Material Icons from Google"
The library seems not to work with the official Google Material Icons from here: [https://material.io/icons/](https://material.io/icons/).

I imported pretty.css with the following link:
[code]

My markup is as follow:
[code]

[2017-04-01 12:50] lokesh-coder commented on #5
Hi @michaelhertig ,

Google Material design icons are quite different from other icon font libraries. Google is using native icon fonts. I have found a work around for that and updated the repo.

Please use v2.2.1 ,
[code]

The mark up will be

[code]
The class name will be `g-mdi` and the icon name will be in the attribute `data-icon`

Thanks!

[2017-04-05 19:42] lokesh-coder commented on #5
Hi @michaelhertig ,

Thanks for pointing out the issue.

I found that the Google Material design icons are quite different from other icon font libraries. Google is using native ligature icon fonts. I have found a work around for that and updated the repo.

Please use v2.2.1 ,
[code]

The mark up will be

[code]
The class name will be `g-mdi` and the icon name will be in the attribute `data-icon`

[2017-04-06 10:04] michaelhertig commented on #5
Hi @lokesh-coder

Wow, you were pretty fast. 👍

I've also noticed that it is important to put the label **after** the input, otherwise it won't work. I recommend pointing that out in the docs.

Thanks a lot!

[2017-04-06 13:46] lokesh-coder commented on #5
Thanks @michaelhertig
I will definitely update the documentation.
I am closing the issue. But if you face any challenges feel free to open this again!

[2017-04-06 13:46] #5 closed

[2017-04-07 18:27] RobertHeim opened #6 "z-index problem"
Hi,

first, thanks for the nice lib! =)

On the basic square checkbox, the `pretty` class provides a `z-index ` of 999 on the inner `label`'s `::before`. Is there a specific reason for this?

Actually, it requires us to implement the `z-index` property of a lot of elements to be at least 1000 because the boxes would shine through otherwise.

[2017-04-07 19:00] lokesh-coder commented on #6
Hi @RobertHeim,
I am glad that you liked my work :)

There is no specific reason for setting `z-index` to higher order. It was just an assumption I made in earlier stage to avoid conflicting with label's `::after` psuedo class. Also I thought some third party font libraries might have their own `z-index` in `::before`

As of now `z-index:1` should work fine. Let me check with all browsers and upda

[2017-04-07 21:39] RobertHeim commented on #6
Wow, fast response! =)

Okay, so what is the purpose of using z-index? It requires us to implement z-index for other components that normally would be fine with their natural order of layering.

We will probably stick to this libary anyway, but not being forced to manually set z-indexes would be great! Could the lib use opacity instead?

Thanks!

[2017-04-08 05:20] lokesh-coder commented on #6
The square box is in `label`'s `::after` and the icon is in `label`'s `::before`. So the reason to use `z-index` is,  to place the icon top of the square.

Also, if you noticed the code, [here](https://github.com/lokesh-coder/pretty-checkbox/blob/master/src/pretty.css#L85-L105)

You can see `::after` is in absolute position and `::before` is in relative position. ( to make the box responsive and a

[2017-04-08 07:32] RobertHeim commented on #6
Thank you very much for the explanation and pointing to the relevant code part.

Maybe a solution could use the natural `z-index` by putting the square box in the `before` and the icon in `after`?

[2017-04-08 08:48] lokesh-coder commented on #6
The problem is most ( all) of the font icon libraries have their icon code in `::before`. So, its not possible :( .

Here's some of them,
[code]

This library just let their `::before` content to override its own. Thats why  [`.pretty i:before{}`](https://github.com/lokesh-coder/pretty-checkbox/blob/master/src/pretty.css#L85-L93) doesnt have `content` property.

[2017-06-09 13:37] denizdogan opened #7 "Any reason for margin?"
Thanks for this awesome library, exactly what I was looking for!

I was wondering, is there any reason why `.pretty` has `margin` set?

[2017-06-09 14:06] lokesh-coder commented on #7
Hi @denizdogan , Thank you so much!

The only reason for right margin is to separate two checkbox/radio buttons when placed together.
Bottom margin is just to give a uniform height for any font icons.

[2017-06-09 14:26] denizdogan commented on #7
@lokesh-coder Okay, cool, it just caught me by surprise :) Thanks again

[2017-06-09 14:26] #7 closed

[2017-06-23 23:38] dowanx opened #8 "Disabled Checkbox Label is gray."
I love your library and spent most of today implementing it :)

That being said there is one aspect I can't seem to figure out.  When disabling a checkbox I only want the checkbox, <i class="mdi mdi-check"></i>, to gray out, but not the rest of the label.

Is there a way to do this?  If not is it possible for it to simply have none of it gray out?

**Update**  **Answer**

Go figure as soon as I po

[2017-06-23 23:59] lokesh-coder commented on #8
Hi @dowanx ,

Thank you so much for your feedback. :)

What you are asked, is really a very good question. I came up with  this ,

[code]
Let me know if that  helped!
Thanks.

[2017-07-13 17:51] dowanx opened #9 "Toggle between three options"
Is there a way to toggle through three options?

Here is my HTML

[code]

[2017-08-24 02:49] pcout opened #13 "Problems with UIKIT"
I'm having problems with this when using UIKIT icon library (https://getuikit.com/docs/icon).

- The icon inside the checkbox doesn't disappears when I click on it.
- The colors (success, etc) overlap the icons.
- The outline colors only affect the box borders, not with the icons colors. They don´t change color at all.

Can you help me ?
Thanks. Great job.

[2017-08-24 07:33] vikyd opened #14 "unexpected click event when works with select2"
https://jsfiddle.net/2j5gx35j/11/

When working with [**Select2** ](https://select2.github.io/), if dropdown list of select2 cover pretty-checkbox, after click select2 item, will also cause pretty-checkbox seleted.

May this two css rules is the reason:

`z-index: 99999999;`: https://github.com/lokesh-coder/pretty-checkbox/blob/master/src/pretty.css#L63

`opacity: 0;`: https://github.com/lokesh-co

[2017-09-03 14:45] rajmondburgaj opened #15 "Does this library has dependecies on materialdesignicons css file"
I included the cdn link to my project where I am using bootstrap 3 and fontawesome. But it did not work as expected. While digging to your page html code I could see this library does not function properly if there is not included this link `<link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css"/>`. Is this mandatory to include this link to my proj

[2017-09-03 15:01] lokesh-coder commented on #15
Hi @rajmondburgaj ,

If you are using `fontawesome`, you don't need to use `material design icons`. I am quite unsure what could be the problem. If you can able to post the snippet you are using, I can help you.

In general this should work,
[code]

[2017-09-03 15:11] lokesh-coder commented on #14
Hi @Viky-zhang ,
Thanks for pointing out the issue and providing the jsfiddle.
Let me fix this and update the repo.

[2017-09-03 15:14] lokesh-coder commented on #13
Hello @pcout ,
Thanks for pointing out the issues clearly.
I haven't tested with UIKit font icons yet. But now, I will check that and post you an update.

[2017-09-03 15:15] lokesh-coder commented on #9
I am sorry @dowanx , I dont think that is possible without JS. :(

[2017-09-06 03:58] DavidMaza opened #16 "Google Material Design Icons not compatible with IE 11"
The Google Material Design Icons in pretty-checkbox aren't compatible with IE 11 and display as large square boxes.

https://lokesh-coder.github.io/pretty-checkbox/

![ie](https://user-images.githubusercontent.com/2233700/30093834-9e27b338-92fa-11e7-9421-f3fbc67e4a4f.gif)

[2017-09-08 16:13] pcout commented on #13
OK. Thanks.

[2017-09-14 06:23] Viky-zhang commented on #14
@lokesh-coder
Is already fixed now ?

[2017-09-27 19:33] dpletiko commented on #6
I've encountered a problem with using bootstrap bootboxes with your pretty checkbox plugin.
Since you've set z-index for .pretty>input[type='checkbox'] to 99999999 when bootbox is opened you can select your checkboxes through bootbox.
It's taken me some time locate the issue, just wanted to let you know.

[2017-09-28 03:02] pcout commented on #13
Hi @lokesh-coder ,
Any news on this ?

[2017-10-09 07:51] Viky-zhang opened #17 "Feature for `lock`"
Sometime I want to lock the checkbox/radio, and don't to change the color.

`disabled` will change color.

Is there any plan to add feature for `lock` ?

[2017-10-18 04:14] DanielOrmeno commented on #6
I have come across the same issue.

99999999 for the z-index seems quite excessive, what's the reasoning behind this?

[2017-10-21 18:47] lokesh-coder commented on #17
Hi @Viky-zhang ,

Added [Lock](https://lokesh-coder.github.io/pretty-checkbox/#lock) feature.

But the library is updated to version 3 with no backward compatibility.

Thanks!

[2017-10-21 18:47] #17 closed

[2017-10-21 18:53] lokesh-coder commented on #16
Hi @DavidMaza ,

Issue has been fixed in new [version 3](https://github.com/lokesh-coder/pretty-checkbox/blob/master/README.md).
Here's the updated [documentation](https://lokesh-coder.github.io/pretty-checkbox/#fonticon-lib)

Feel free to open if you face the same issue.
Thanks!

[2017-10-21 18:53] #16 closed

[2017-10-21 18:58] lokesh-coder commented on #15
Closing now. Feel free to open if you still face the issue.
Thanks!

[2017-10-21 18:58] #15 closed

[2017-10-21 19:03] lokesh-coder commented on #13
Hi @pcout ,

I have updated the library to version 3 which has the support to [add UIKit icons](https://lokesh-coder.github.io/pretty-checkbox/#svg-lib).

Please have a look at new [changes](https://github.com/lokesh-coder/pretty-checkbox/blob/master/README.md)

The problem was, UIKit is not a font icons, but a SVG. UIKit dynamically injects svg markup.

Feel free to open it again if you got any q

[2017-10-21 19:03] #13 closed

[2017-10-21 19:08] lokesh-coder commented on #9
Closing now, But feel free to open if you got any questions.

And, I have updated the repo to [version 3](https://github.com/lokesh-coder/pretty-checkbox/blob/master/README.md) which has a feature to add third icon for `indeterminate` state. It might give you an idea. Here's the [documentation](https://lokesh-coder.github.io/pretty-checkbox/#states)

Thanks!

[2017-10-21 19:08] #9 closed

[2017-10-21 19:22] lokesh-coder commented on #8
Hi @dowanx ,

I hope the above answer helped you. Closing now, but feel free to open again if you got any questions.

I have updated the repo to [version 3](https://github.com/lokesh-coder/pretty-checkbox/blob/master/README.md).

For new version, the fix would be something like this,

[code]

Thanks!

[2017-10-21 19:22] #8 closed

[2017-10-21 19:29] lokesh-coder commented on #6
Hello everyone,

The repo has been updated to [Version 3](https://github.com/lokesh-coder/pretty-checkbox/blob/master/README.md) but without backward compatability.
In new version the z-index has been set to `0` `1` and `2`. And this can be changed from [SCSS settings ](https://lokesh-coder.github.io/pretty-checkbox/#scss-settings).

Closing now, as the new update will fix this.

Feel free to open

[2017-10-21 19:29] #6 closed

[2017-10-21 19:41] lokesh-coder commented on #14
Hi @Viky-zhang ,

The issue has been fixed in new [version 3](https://github.com/lokesh-coder/pretty-checkbox/blob/master/README.md). The z-index has few more problems ( like #6  ) and side effects, So the code is completely changed with no backward compatibility.

I have updated your jsfiddle code with new version.
[https://jsfiddle.net/31gysmen/](https://jsfiddle.net/31gysmen/)

Here's the [docu

[2017-10-23 15:05] lingtalfi opened #24 "Checkbox hover"
Hi, I'm using a link into the markup, like so:

[code]

The only problem I have is that when I hover the link, the css hover event doesn't seem to fire.
So my css rule doesn't work:

[code]

Can I fix it using css only?
(I suppose I could find a workaround with js, but I'm interested to know if a css only solution
has been found already)

[2017-10-24 06:51] lingtalfi commented on #24
I found it, just simple css: it was the input that covered the link, changing this:

[code]

to this:
[code]

fixes my problem.
Issue solved.

[2017-10-24 06:51] #24 closed

[2017-10-30 19:09] SeminAl opened #25 "Support for multiple lines in label?"
I have spent several hours trying to make pretty checkbox with multiple lines of text in label, but no success... This was not planned from the beginning or am I wrong?

[2017-11-01 08:14] lokesh-coder commented on #25
Hi @SeminAl ,

As you mentioned, the label text is expected to be in one line, and that's how it was built. Else the design will fail.

But I can imagine use cases of multi line label. May be in the next release I will come up with a solution for this.

Thanks!

[2017-11-01 08:40] lokesh-coder commented on #25
Hi @SeminAl  , I just made a fiddle for multi line label. Let me know if that helps. Thanks!

https://jsfiddle.net/lokesh_coder/my15u1gm/

[2017-11-01 08:42] SeminAl commented on #25
That's exactly what I was looking for :) Thank you!

[2017-11-01 22:42] clundberg1 opened #26 "Support setting class (primary, etc) to checkbox when indeterminate"
I tried the following:

<div class="pretty p-icon p-has-indeterminate">
            <input formControlName="checked" [indeterminate]="isIndeterminate" type="checkbox" />
            <div class="state p-primary">
                <i class="icon fa fa-check"></i>
                <label>{{item[field]}}</label>
            </div>
            <div class="state p-primary p-is-indeterminate">

[2017-11-22 20:02] martinduparc commented on #25
@lokesh-coder Want to integrate your fiddle into the repo?

[2017-11-23 14:00] fretje opened #28 "Is there a way to make the checkbox "light up" when hovering over it while it is in the "not checked" state?"
Apparently, there is a way to make a checkbox "invert colors" when hovering over it, but this works only when the checkbox is in the "checked" state:

                    <div class="pretty p-icon p-fill p-bigger p-has-focus p-has-hover">
                        <input type="checkbox">
                        <div class="state p-primary">
                            <i class="icon fa fa-check"></i

[2017-11-23 18:01] maxiedaniels opened #29 "Checkbox not showing?"
I've checked in both Safari and Chrome.. checkboxes aren't showing. Not sure why... I've imported at the top of my index.html page (`<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>`).

I'm using vue but I don't see why that would affect it...

[code]

[2017-11-23 18:32] lokesh-coder commented on #29
Hi @maxiedaniels ,

The problem is with the markup. Please try this,

[code]

Let me know, if that doesn't solved the issue.

[2017-11-23 18:34] maxiedaniels commented on #29
Ah, that was it. My bad! Thank you!

[2017-11-23 18:34] #29 closed

[2017-12-05 21:54] hectorarjr opened #30 "Foundation 6 compatibility"
Doesn't seem to work with Foundation 6

Checkboxes are not aligned with label.

[2018-01-03 21:34] yongelee opened #31 "Adding padding to container div moves the checkbox off"
https://imgur.com/a/pdp1g

One of these checkboxes has added padding but the checkbox does not align properly. How do I make the area bigger without ruining it?

[2018-01-04 02:56] lokesh-coder commented on #31
Hi @yongelee ,

Thanks for attaching a screenshot. But, I am bit unclear about the area you mentioned. You want the green box to be smaller and have more space around it?

Check this please,
https://jsbin.com/rewugaz/1/edit?html,css,output

[2018-01-04 17:10] yongelee commented on #31
No...the whitespace inside the border of the div should be fatter with padding. But when padding is added, the position of the checkbox moves like the picture.

[2018-01-08 05:37] webbygregg opened #33 "Works with react-icons?"
I have been trying to get the checkboxes to work with react-icons which uses SVGs

This is my code:

[code]
but it's not working, is it compatible?

[2018-01-26 02:43] jbdivups opened #34 "Reverse input and label positioning?"
Trying to have label on left and radio input on right. Any help is much appreciated. Thanks for the great library.

[2018-01-26 03:37] lokesh-coder commented on #34
Hi @jbdivups ,

Plesae try this CSS,

[code]

Also, here's the jsbin,
https://jsbin.com/mikuqil/edit?html,css,output

[2018-01-29 12:51] nyl-auster commented on #34
@lokesh-coder thanks for your component !
I tried the code above without luck. Any idea ?
An option to reverse the label could be an awesome additionnal feature

[2018-01-30 14:32] lokesh-coder commented on #34
Hi @nyl-auster, im working on a new update. I will add this feature very sooner. And regarding this issue, i will post a quick fix shortly.

[2018-02-01 04:32] EM-LilianaIturribarria opened #35 "Not able to use any directives with it"
I'm using it with vue js and i'm not able to use it with any other libraries, for example vue validate.

+ Adding a validator doesn't work
+ If i add an anchor on the label i'm also not able to attach any events to these...

[2018-02-01 10:11] lokesh-coder commented on #35
Hi @EM-LilianaIturribarria ,

I hope this will help you,
https://github.com/hamed-ehtesham/pretty-checkbox-vue

[2018-02-02 18:20] trev91 opened #36 "Not able to detect changes to radios with jquery"
I've got 3 radio buttons with different IDs, and I'm unable to detect any changes or clicks by calling the functions below:

`$('input#radio-id').on('click', function() { console.log('hi') });`

or

`$('input#radio-id').on('change'), function() { console.log('hi') });`

How do I detect a change using jQuery?

Thanks.

[2018-02-02 18:21] trev91 commented on #36
@lokesh-coder

[2018-02-02 18:24] trev91 commented on #36
nvm. Works just fine if I used the `input:radio[name="abc"]` syntax instead of IDs. :)

[2018-02-02 18:24] #36 closed

[2018-02-11 14:07] LastxTemplar opened #37 "Checkbox not aligned"
The checkbox doesn't seem to align correctly no matter where I put it in the document.
I managed to make it align by writing some messy css around it but I really don't like that solution.

Here is an image for reference: [https://imgur.com/yuVtiMX](https://imgur.com/yuVtiMX)

[2018-02-14 15:18] lokesh-coder commented on #37
Hi @LastxTemplar ,

I got the issue. I am already in middle of newer version. So, the new update will fix that.

[2018-02-14 15:45] LastxTemplar commented on #37
awesome, thanks for the reply!

[2018-02-14 17:54] preethammadapura opened #38 "How to change the default colors?"
Under customize, you have mentioned we can change the default colors. But where and how? I am using your library as part of a Vue.js project. I have imported your scss stylesheet. But overwriting the scss style in the local code is not changing the color. Please help.

[2018-02-14 18:19] lokesh-coder commented on #38
Hi @preethammadapura ,

In general this should work,
[code]

Also please check this for adding more colors,
**Demo:** https://pretty-checkbox-custom-colors-demo.stackblitz.io/
**Code:** https://stackblitz.com/edit/pretty-checkbox-custom-colors-demo?embed=1&file=styles.scss&view=editor

Let me know if that helps!

[2018-02-15 16:46] preethammadapura commented on #38
That worked like charm. I was just doing the changes in the wrong place. Thanks for your fast response. This was super helpful!

[2018-02-15 16:46] #38 closed

[2018-02-21 09:35] Andruschenko opened #39 "Clickable links in label"
I saw that you're working on a new version right now. Therefore I won't file a PR which might collide with your work but add this so that others might benefit from it and you might add this in the new version:

If you have a label with links (`<a>` tags) in it, they won't be clickable when using your package, even if you raise the z-index for these links.

To solve this (i.e. for the links to be c

[2018-02-21 09:37] Andruschenko opened #40 "Set background color of checkbox when not ticked"
I saw that you're working on a new version right now. Therefore I won't file a PR which might collide with your work but add this so that others might benefit from it and you might add this in the new version:

In the current version of the package, the background color can't be changed via a variable.

Perhaps you want to expose the following so it can be modified! Here I change the background-co

[2018-02-21 17:43] lokesh-coder commented on #39
Hi @Andruschenko ,

Thank you so much for the solution. :+1:

I am aware of the fact that, label needs more customization.  Rightnow, I am trying to move the complete logic out of label, which will solve this issue.

[2018-02-21 18:21] lokesh-coder commented on #40
Hi @Andruschenko ,

Sure, I will add this in coming update! :)

[2018-02-21 18:25] lokesh-coder commented on #35
Closing this due to inactivity. Please reopen if you still face the issue.

[2018-02-21 18:25] #35 closed

[2018-02-21 18:28] lokesh-coder commented on #33
Hi @webbygregg ,

sorry for the late response. I havent tested with react. But will try and get back to you soon.

[2018-02-21 18:30] lokesh-coder commented on #14
Closing due to inactivity. Please reopen if you still face the issue.

[2018-02-21 18:30] #14 closed

[2018-02-22 21:36] preethammadapura opened #41 "How to add hover effects and background color to checkboxes?"
I am trying to get the following effects:
- change the checkbox outline color upon hover (unselected).
- Add background color to checkbox upon hover (selected).

However, when I apply CSS styles (like, outline and background color) to the <input> tag, even at the inline level, it is not working. It looks like the library is preventing this from happening. But I need to bring in these effects. Plea

[2018-02-23 20:56] ujiriukiri opened #42 "Sizing of switches is not consistent"
Using the class .p-bigger on .p-switch, the switch handle is a bit off.

[2018-02-26 10:25] A-Programmer opened #43 "does support rtl?"
Does this package support rtl format?

[2018-02-26 17:57] lokesh-coder commented on #43
Hi @A-Programmer ,

As of now rtl support is not there. But I am working on that. Will be available in next release.

[2018-02-26 18:13] A-Programmer commented on #43
Hi @lokesh-coder ,
I have converted your version to rtl and its just fine.
Thaks a lot <3

[2018-02-27 13:28] parthshah000 opened #45 "For 16px base value, layout gets distracted in Switch section"
I've set up the base value of font in the body is 16px. While referring your code and I've found that you have assigned 14px for the base value in the body tag. When I've changed it to 16px it's get distracted.
See the example given below.
![image](https://user-images.githubusercontent.com/10954475/36731225-1d93c368-1bf0-11e8-834a-2823c05ea26a.jpg)

[2018-03-11 14:21] TrueShutDown opened #46 "How not animate checkbox on startup if it's checked"
I have a lot of checkbox who are checked on startup. It is posibble to turn off animation during startup?

example: https://jsfiddle.net/ShutDown/3d9hfmdq/3/

[2018-03-20 09:22] orioljd opened #47 "Toggle disabled"
If the input is disabled it doesn't change the opacity.

[2018-03-20 10:01] lokesh-coder commented on #47
Hi @orioljd ,

Can you please provide bit more info?

[2018-03-20 13:05] orioljd commented on #47
For example in the page documentation https://lokesh-coder.github.io/pretty-checkbox/:

    <div class="pretty p-default p-curve p-toggle">
      <input type="checkbox" disabled />
        <div class="state p-success p-on">
          <label>Subscribed</label>
        </div>
        <div class="state p-danger p-off">
          <label>Subscribe </label>
        </div>
    </div>

if you put the disa

[2018-03-20 17:25] rafaelblink commented on #47
The problem is the "p-on" and "p-off" classes that set opacity of the input = 1.

[2018-03-23 18:03] georganix opened #48 "The items toggles on and off visually but not checked true or false"
The items toggle on and off visually but it doesn't change the state of the checkbox why and how do we achieve that?

[2018-03-25 19:42] Furgas commented on #25
Great. I used `top: calc(50% - ((1em + 2px)/2))` instead of `top: 0`, to center it horizontally.

[2018-03-28 01:21] steveellis commented on #48
The value of the checkbox's checked property does change to either true or false, in addition to the "visual" representation you're seeing. You can check this in the console by selecting the input's element and then logging the ".checked" property. It will have a value. The library is accomplishing this "purely" through css via the checked pseudo element. You can read about that here: https://deve

[2018-04-12 03:15] nim opened #49 "How use this?"
<link href="js/pretty-checkbox/3.0/pretty-checkbox.min.css" rel="stylesheet" />

   <div class="pretty p-default">
        <input type="checkbox" />
        <div class="state">
            <label>Check</label>
        </div>
    </div>

I not see worked. No reaction. Only not unresponsive rectangle.

[2018-04-17 15:06] cyberzilla commented on #48
i use `onclick="console.log($(this).is(':checked'))"` in the radio or checkbox element, its working

[2018-04-25 20:15] preethammadapura opened #50 "Change animation transition timing"
I am using your checkboxes and the feedback is that the animation is too slow and is not giving a good UX. Is there a way to speed up the animation by changing the transition time or transition delay? Please let me know.

[2018-04-27 13:34] terryupton opened #51 "white-space: nowrap;causings breakages to layout"
Suggest that white-space: nowrap; is removed from the .pretty class as this can cause layout breakages depending on length of label and form width size.

An example being an opt in to a newsletter or terms and conditions that might have a longer phrase than a simple one/two word option.

I appreciate this might cause other layout issues that might beed to be resolved. Perhaps flex layout now it is

[2018-05-19 09:46] imsheng opened #52 "I hope to provide a variety of sizes."
like bootstrap，xs , sm , lg ...

[2018-05-19 10:50] hamed-ehtesham commented on #52
Hi @imsheng ,
there is no need for that,
in this library the size is related to font size so you can change it really easy and you're not limited to use like 5 or 6 sizes which are predefined for you like bootstrap

[2018-05-24 21:38] chrisblessing commented on #28
Here's a simple selector you can use to adjust the "check" mark indicator on hover:

[code]

You can probably already see how you could do this for the text label and the box outline (::before) as well. Cheers.

[2018-05-24 21:45] chrisblessing commented on #51
I was able to accomplish this with some CSS overrides, if you're interested in experimenting.

Using some standard markup from the examples, which I have contained in a column about 250px wide:

[code]

The CSS overrides:

[code]

The result?

<img width="247" alt="screen shot 2018-05-24 at 2 44 02 pm" src="https://user-images.githubusercontent.com/716878/40515261-f5b73654-5f60-11e8-84e2-330b15cca

[2018-05-25 01:57] imsheng commented on #52
![0525095409](https://user-images.githubusercontent.com/10435075/40522089-a5b25b4c-6001-11e8-9b6f-7802d47eee44.jpg)
![180525095422](https://user-images.githubusercontent.com/10435075/40522091-a615f4b8-6001-11e8-8c7a-ae4a28c5b86e.jpg)

There is no good align after scaling.

[2018-06-20 05:52] Archer1710 opened #53 "Checkboxes not displaying - Chrome"
I'm trying to use this awesome work but checkboxes are not displaying on chrome u.u please help.
Chrome
![image](https://user-images.githubusercontent.com/40418680/41639666-f9fa5636-741b-11e8-9dbf-02b7287b2bf6.png)
Edge
![image](https://user-images.githubusercontent.com/40418680/41639697-2b1f36d2-741c-11e8-9d3c-79010e2bb646.png)

I already tried adding: -webkit-appearance: none;  or -webkit-appear

[2018-06-21 19:48] Archer1710 commented on #53
It was a js and css conflict.

Thanks

[2018-06-21 19:48] #53 closed

[2018-07-02 10:37] yakuza88PL opened #54 "Doesn't work as expected with long labels"
Hi,

sometimes I need to have a very long label and it becomes unusable with white-space: nowrap;

<img width="1097" alt="zrzut ekranu 2018-07-02 o 12 35 20" src="https://user-images.githubusercontent.com/16468615/42159540-75795668-7df4-11e8-8ddc-94ab6afe4da7.png">

Is there any workaround?

Regards,
Piotr

[2018-07-05 20:59] TimNZ commented on #34
This seems to work.

[code]

[2018-07-09 04:03] saiqulhaq commented on #25
why this multi line label hasn't integrated into repo yet?

[2018-07-17 01:20] JurgenJocubeit commented on #51
Above solution still has shortcomings when using `p-bigger` and `p-icon` unfortunately. I'm still having troubles trying to get longer labels to align properly. Sentences that wrap to 3-4 lines are wrapping but check mark sits way above in previous elements.

[2018-07-23 16:31] Mahmoud-Sagharjoughi commented on #43
Hi @A-Programmer
How did you do that !?

[2018-07-24 06:37] A-Programmer commented on #43
Hi @Mahmoud-Sagharjoughi
I cant remember exact changes but this file is pretty-checkbox.

css file that i change.
[_pretty-checkbox.zip](https://github.com/lokesh-coder/pretty-checkbox/files/2222273/_pretty-checkbox.zip)

[2018-08-09 16:13] goranGG commented on #38
@lokesh-coder hey - can you update website with this example, it would be super useful because I tried to paste thinks from there in same area and it didn't work

[2018-08-09 17:25] goranGG commented on #54
@yakuza88PL have the same issue, did you make it work somehow?

[2018-08-10 13:34] benny-chen-mpf opened #55 "How to see if checkbox has tab focus"
The default checkbox/radio button shows/hides a border around the control when you tab in and out of it. Pretty-checkbox controls doesn't show this, so I have no idea which control has the focus. Is there a way to enable this?

[2018-08-10 16:40] lokesh-coder commented on #55
Hi @benny-chen-mpf
So, you want that focused border as a class?

Righ now the border will be there only for tab focus as you mentioned.

[2018-08-11 15:29] benny-chen-mpf commented on #55
Hey @lokesh-coder,
A class would be great. Right now I'm not seeing any border when a pretty-fied control gets focus.

[2018-08-12 09:29] tonypeng commented on #55
following this as well 👍

[2018-08-22 09:45] Buisson commented on #54
I found a solution for that, I've just override 2 css classes like that :

`
/*fix for pretty checkbox lib*/
.pretty {
    white-space: normal;
}
.pretty .state label::after, .pretty .state label::before
{
    top:-2px;
}
`

I hope this will help you or someone else :)

[2018-08-25 04:07] salman3009 opened #56 "How to include in angular 5 this package"
I have installed the npm and I cannot include the style because my extension is css, not scss.

In index.html how to include this.

[2018-08-26 11:31] lokesh-coder commented on #56
Hi @salman3009,

You can add the css file path in angular cli config file.

[2018-08-28 16:43] lokesh-coder commented on #56
If that doesnt work, feel free to open this issue again.

[2018-08-28 16:43] #56 closed

[2018-09-03 04:03] guanzo opened #57 "SVG icon is missing in indeterminate state"
Reproduction: https://jsfiddle.net/guanzo/76xesvct/12/

The 2 checkboxes are exactly the same, except the first one is using `p-icon` and `icon`, while the second one is using `p-svg` and `svg`.

I believe the problem is here: https://github.com/lokesh-coder/pretty-checkbox/blob/3a949d30497aae3bce044f32fcd91da87e4813bf/src/scss/states/_indeterminate.scss#L6-L14

It needs to be
[code]

[2018-09-07 17:54] barrymortenson opened #58 "Documentation Typo"
Thank you for the excellent package. In the documentation under the the lock option there a a minor typo:

where I beleive it should be: To lock, add class `p-locked` to .pretty

[2018-09-08 05:07] lokesh-coder commented on #58
Hi @barrymortenson ,thanks for pointing out. I will update the doc.

[2018-09-16 21:51] JamesTheHacker commented on #25
If you're using icons you'll need to do:

[code]

[2018-09-24 15:25] Murphy1976 opened #60 "Select All"
I really like these pretty checkbox/radio buttons.
I am wondering if I were to have multiple checkboxes with the proper markup, what would an external button need to look for to toggle a Select All function?

For example:
**HTML**
[code]

**JS:**
[code]

Clicking the button does nothing in this instance.

[2018-09-24 16:09] hamed-ehtesham commented on #60
Hi @Murphy1976,
you are using `checked` property of a button instead of a checkbox (your JS code implies that selectAll must be a checkbox not a button)
this [Codepen](https://codepen.io/H4M3D3/pen/NLVXbL?editors=1010#0) is what your code must change to

[2018-10-01 13:12] Chewieez commented on #55
I'm currently having this same issue. We are using radio buttons styled with pretty-checkbox and when I tab through, the toggles are not showing that they have the current focus. I can use the arrow keys to select radio button states, so focus is on the correct element, but there is not visual indication that focus is on the radio buttons. Thanks!

[2018-10-02 13:48] CesarRotela commented on #42
+1

[2018-10-13 17:10] penuts7644 opened #61 "SVG icon fill and stroke specific color options"
Hi,

I was wondering if it is possible to separate the color options based on `fill` and `stroke` attributes of SVG icons. As of now the five color options (like `p-success` and `p-success-o`) use the `color` and `stroke` attributes.

So besides having only having classes like:
[code]

Also have classes for:
[code]

Cheers, Wout

[2018-10-13 17:13] penuts7644 commented on #47
I'm having the same issue at the moment. `p-on` and `p-off` overwrite the opacity value given `pretty input[disabled] ~ *`.

Since I don't need to have this attribute changed elsewhere in the code, using the following can work as a quick solution:
[code]

[2018-10-23 04:58] thekevingibbons commented on #25
To size the labels relative to the parent div, change the width in .pretty to 100%. Allows the labels to be =pretty= responsive.
Full CSS including the line that makes icons work. I import it as pretty-multiline.css after the pretty-checkboxes package.
[code]

[2018-10-24 17:14] yogur commented on #51
I used pretty-checkbox without text to solve the issue. I placed the text in a div, and enclosed both pretty-checkbox and the text div in a row.

Something like this:

[code]

Note that I'm using class .d-flex from bootstrap which basically is display: flex
I'm also using pretty-checkbox as a Vue component.

[2018-11-01 19:20] ssimo3lsuhsc commented on #58
Another typo. ALL occcurences of the string "~pretty-checkbox/scss" are CORRECTLY "~pretty-checkbox**/src**/scss".

[2018-11-07 22:18] kid-three commented on #30
Found same issue. Checkbox floats above and to the left

[2018-11-07 22:28] kid-three commented on #30
Found the fix.

Add this to your CSS

`.pretty .state label{
  font-size: 16px;
  line-height: 16px;
}`

[2018-11-15 17:44] chadsteele commented on #33
React works best if the input is "controlled" and so, you'll need to program the state and the behavior...
[code]

[2018-11-15 17:54] chadsteele opened #62 "always p-pulse"
Thank you @lokesh-coder - great tool!

Is there a way to get it to pulse on every click?  I tried moving **p-pulse** from the parent class to the state, but it doesn't work...

[code]

[2018-11-19 05:54] lokesh-coder commented on #62
Hi @chadsteele ,

Actually reverse animation feature is not yet available. 😞 But, you can try this code,

[code]

[2018-11-19 05:56] lokesh-coder commented on #61
Hi @penuts7644 ,

Thanks for the suggestions. I will definitely consider in upcoming version.

[2018-11-19 13:56] chadsteele commented on #62
Love it!  Thank you!  Works great for me.  :)

On Sun, Nov 18, 2018 at 10:54 PM Lokesh <notifications@github.com> wrote:

[2018-11-20 02:05] #62 closed

[2018-11-20 02:05] #61 closed

[2018-11-30 20:10] windmaomao commented on #54
This works great, i also need to amend a bit

[code]

[2018-12-11 15:47] CodeCurosity opened #64 "By Default inline-block?"
why pretty is by default inline-block?

[2018-12-11 17:22] lokesh-coder commented on #64
Hi @UsmanShahzad ,

1. To place multiple checkbox/radio buttons in a row
2. Most of `<input/>` will be `inline`
3. As pretty supports placing block elements inside, there should be a balance between `block` and `inline`
4. It is **easy** to wrap with a `<div>` to make it in a row, but not the other way.

[2018-12-11 18:30] CodeCurosity commented on #64
So what do we do to make it not in-line like https://getbootstrap.com/docs/4.0/components/forms/

[2018-12-11 20:53] lokesh-coder commented on #64
Just wrap it with div. something like this,

[code]

[2018-12-11 21:01] CodeCurosity commented on #64
Thanks i will give it a try.

[2018-12-27 15:38] applyACS commented on #25
This is really a big issue and should be fixed as soon as possible.

[2019-01-28 14:00] fawel11 commented on #46
You can use v-model.
Assign default value in data array:
export default {
  data() {
    return {
      status: "0"
}
}

[2019-02-18 16:15] gingerchew opened #66 "Icon checkbox disappears when checked on ios"
So I was creating a form and the mock called for a checkbox similar to what was available in your library (which by the way is awesome).

But when I tested it on my phone, the icons on the icon checkboxes will disappear when checked. This also happens on the github page for the library.

Was wondering if there is anything I can do to help.

This is the mark up
[code]
I can add screenshots or scree

[2019-02-18 16:34] dkricher opened #67 "IE11 Switches"
In IE11 on Windows 10 64-bit (IE version 11.523.17134.0 if it matters) the switches alignment is off. Setting .pretty line-height to 0 fixes the switch appearance but ruins the placement, so it's not a solution but a start of where to look.

[2019-02-19 17:21] TheExodusInstitute opened #68 "Wrong account"

[2019-02-19 17:22] #68 closed, assigned to nobody

[2019-02-19 17:23] davidrhoderick opened #69 "Can't figure out how to reset the checkbox value on page reload"
I have a form that has checkboxes and I find them and wrap them with pretty checkboxes like the following:

    $gForm.find('.gfield_checkbox li').each(function(index, element) {
      var $checkbox = $(element).find('input[type="checkbox"]'),
          $label = $(element).find('label');

      $label.wrap('<div class="state p-acceptu"></div>');
      $checkbox.wrap('<div class="pretty p-default p

[2019-02-19 18:07] davidrhoderick commented on #69
~~Actually, it looks like pretty checkboxes isn't even checking the inputs at all.  They seem to be unlinked and I never get input values for them.  Does it have to do with how I dynamically load the display?~~

I found out that the inputs not sending was due to Gravity Forms behavior; however, I am still unable check or uncheck boxes on a submission with an error that refreshes the page.  Is it a

[2019-02-20 11:36] TheExodusInstitute commented on #68
You can delete this issue, it was posted from a wrong account.

[2019-02-22 17:19] chadsteele commented on #39
Also, long labels are not responsive due to nowrap, see below.  I tried fixing myself, but the CSS for layout is complicated and nothing seems to work.  Do you happen to already have a solution?  Will that be fixed in the next release?  Thanks

[code]

[2019-03-05 08:25] orioljd commented on #40
I found that when I have a dark background the checbox looks bad. I apply the @Andruschenko solution but with the #eee color

[2019-03-18 10:53] superbiche commented on #66
@connor-wilson-dev having the same issue on iOS.
The issue is with p-smooth : seems the animation runs twice on iOS, resulting in a `opacity: 0.0055445xxxx` calculated in Safari DevTools.
Removing the p-smooth as a workaround for now until I find some documentation about this weird iOS behavior

[2019-03-26 16:21] pmonte commented on #39
What about:
.pretty a {
    z-index: 3;
    position: absolute;
    margin-left: -1rem;
}

[2019-04-30 06:49] fawel11 opened #70 "p-radio not checked when load json data in live server"
I am using v-form package:
Everything is fine in local but server.
Provided two images after load from back end (local and live server).
First time default value wise radio button is checked but when data comes from backen in server the data type changed 1 to "1" auto!
When i change "1" to 1 using vue tools , radio then check other wise none radio is checked!

![live](https://user-images.githubuse

[2019-05-18 10:47] flythenimbus opened #71 "Issue with displaying checkbox in Bootstrap 3"
I'm using this checkbox library and it looks proper in some places, and in some others it looks unaligned for some reason which I can't figure out. I'm using Bootstrap 3 in my project and whenever I use a checkbox in a `.row`/`col-*` I get issues.

This is how it looks like:

![Checkbox1](https://user-images.githubusercontent.com/2448254/57968430-cb8cb000-796a-11e9-8bfe-235572df7283.png)

![Checkb

[2019-05-18 14:44] lokesh-coder commented on #71
Hi @dugajean, can you provide some sample code. It would be helpful for me to understand the issue

[2019-05-18 16:00] flythenimbus commented on #71
I'm not sure what to provide exactly, so here's the HTML for the first image above:

[code]

[2019-05-18 16:09] lokesh-coder commented on #71
I couldn't reproduce the issue. I tried in codesandbox, seems working fine.

https://myciz.codesandbox.io/

[2019-05-18 16:10] flythenimbus commented on #71
I'll provide some more appropriate code shortly.

[2019-05-30 13:45] Flimm opened #72 "Checkbox does not work in right to left mode"
Take code like this:

[code]

The checkbox ends up covering the text.

[2019-06-12 08:23] riede commented on #66
+1

I've got the same issue in Safari on a Mac. Removing `p-smooth` solves the problem, too.

@superbiche Do you already found a solution? If not, look at this: https://stackoverflow.com/questions/44027294/unexpected-animation-behaviour-in-safari. It might be the same problem.

[2019-07-01 11:26] payamomrani commented on #72
put this code to support rtl :

`[dir="rtl"] .pretty .state label:before,[dir="rtl"] .pretty .state label:after{left:auto;right:0;}
[dir="rtl"] .pretty {margin-right:0;margin-left: 1em;}`

[2019-07-18 08:04] Leapje commented on #25
Great fix, I made a little change:

`.pretty .state label:after,
.pretty .state label:before,
.pretty.p-icon .state .icon,
.pretty.p-svg .state .svg
{
    top: 0;
}`

Then the svg image is also in the right place!

[2019-09-01 03:37] #30 closed

[2019-09-22 17:35] atomicpages opened #73 "Webkit Regression is causing :checked selection to fail"
See details here regarding the blink/webkit regression: https://bugs.chromium.org/p/chromium/issues/detail?id=1006586#c1

For pretty-checkbox-react I'm working on a re-write using hooks and I noticed the indeterminate checkbox is failing since I rely on state to update the DOM rather than CSS. I think we need to add an `:indeterminate` selection for [fonts](https://github.com/lokesh-coder/pretty-c

[2019-10-22 14:52] miladfm commented on #66
I found same issue in Safari on a Mac.

[2019-10-25 13:23] mrh1967 opened #76 "Minor issue reported by a user"
I've used the plugin for one of my projects and it looks great but I've had a trivial issue reported to me by a user and said I'd pass it on to the plugin developers. It seems that the checks are, rarely but annoyingly for this user, sometimes a slightly different color than they should be.

Attached is a screenshot showing two checks that should be the same. My guess is that the animation fading

[2019-10-25 13:24] mrh1967 commented on #76
[code]

[2019-11-27 06:42] gopaltiffinshare opened #77 "label is not Align properly, It seem little slide below"
I have use pretty checkbox, but its label slide little below , it seem is not in line

[2019-12-09 19:38] Foxandxss opened #78 "E2E testing a component with this library"
Say I have a component like:

[code]

If I am not mistaken, this library is going to hide the browser checkbox and replace it with a painted checkbox. So far so good. An E2E library (say testcafé) will clickt the checkbox and move on. The issue comes when you have an anchor tag inside it. It will take preference over the checkbox so it will click the the link and fail. I haven't seen a way to make

[2019-12-13 17:02] ericdevjs opened #79 "Border still visible"
Hi,

Border remains visible even tough I'm using p-plain, here's my code:

`<div class="deleteRowBoxClass pretty p-icon p-toggle p-plain">
                <input id="gridRowDeleteButton" type="checkbox" />
                <div class="state p-success-o p-off">
                    <i class="icon fa fa-trash"></i>
                    <label>Good</label>
                </div>
                <div cla

[2019-12-26 04:59] BurakUeda opened #80 "Using p-toggle and p-switch together cancels p-switch's slide animation"
Simply what title says.
[code]
It works but there is no sliding animation.

[2020-02-08 03:56] getmarked commented on #51
I faced the same issue and @yogur solution worked beautifully without any modifications of my other code. Thanks!

I separate thing that i did was to add the label tag into the text div making it clickable/checkable.

[code]

[2020-03-17 10:21] mikeldn opened #81 "Accessibility and Labeling"
Hi,

Would it be possible/make sense to allow the binding of labels to inputs for accessibility ... I'm not sure, given the fact that the input is actually hidden if that would be the wrong approach or not?

Anyway, if it's possible, then something like:
<label for="cheese">Do you like cheese?</label>
<input type="checkbox" name="cheese" id="cheese">

as per: https://developer.mozilla.org/en-US/do

[2020-03-19 04:05] xsdaniel commented on #51
@getmarked - Just curious on how you added the `id` to the input so it can be connected with the `for`, since the Vue component does not accept any prop to set an id.

[2020-03-19 04:56] getmarked commented on #51
I'm using django templates, so can't help you with that. I'm not familiar with Vue.

[2020-03-19 05:17] agamadev commented on #51
Oops. Got confused because the @yogur answer is related with Vue components! Thanks anyway ☺️

[2020-03-19 15:57] xsdaniel commented on #51
Thanks @getmarked - Got confused because the @yogur answer is related with Vue components! Thanks anyway ☺️

[2020-03-19 17:36] xsdaniel commented on #51
If somebody is looking for how to solve it in Vue and having a clickable label, this could be an option:

[code]

Please notice the importance to hide the original label, otherwise the checkbox won't look good.
And just in case, some classes are comming from Tailwind.

[2020-03-20 08:15] dmenne opened #82 "Set button size independently from label"
For tablets, I need large checkboxes and default text size. Howto?

[2020-03-28 05:27] BenJackGill commented on #82
Also need this. Did you have any luck?

[2020-03-28 07:27] dmenne commented on #82
Gave up. Used bootstrap buttons as radio buttons replacement

[2020-03-31 11:26] Ejazbaig opened #83 "Its not getting selected in Mac"

[2020-05-03 14:42] jevail commented on #40
Any idea if this will be ever added?

[2020-07-08 19:02] Lucidize commented on #45
I have the same problem. Just changed font-base-size from 0.875(14px) in Bootstrap to 1rem (16px), and the exact same error presents. Any advice?

[2020-07-09 11:06] itismowgli commented on #45
You can assign the font-size to `pretty` class instead of changes the base-font-size in bootstrap.
Also, Check the Scalability option
https://lokesh-coder.github.io/pretty-checkbox/

Please check this pull request if it solves your problem.
https://github.com/lokesh-coder/pretty-checkbox/pull/44

[2020-07-24 19:33] dkim-arifleet opened #85 "Color override not working in react project"
Is anyone else having issues with overriding the color values? I'm trying to override the primary color value to #003da7 by changing the sass variable in my app.scss file. So far, no luck.

app.scss
`$pretty--color-primary: #003da7;`

![image](https://user-images.githubusercontent.com/62725976/88428512-08500480-cdc3-11ea-9543-48dfcfc338a2.png)

[2020-08-28 12:10] Herz3h opened #86 "Using @change throw error"
You can test here: https://codepen.io/Herz3h/pen/abNwodm

It throws: `TypeError: Cannot read property 'checked' of undefined`

[2020-08-28 12:54] Herz3h opened #87 "Project maintenance"
Is this project abandoned ? I see last commits from 3 years ago @lokesh-coder

What would be good solution if you don't have time anymore to merge pull requests ?

[2020-08-28 15:07] lokesh-coder commented on #87
Hi @Herz3h, this is one of my favorite projects, but for some reasons I couldn't spend time on the this.

But however I have lot of ideas to improve. I have started to experiment with the latest browser support and modern tools.

May be in a month this project will get updated.

[2020-08-28 15:17] Herz3h commented on #87
Ah thats great news, thank you for this awesome plugin ! Can we expect pull requests to be merged until then ?

[2020-09-11 23:48] atomicpages opened #88 "Support RTL"
Idea:

It'd be nice to support RTL languages. Happy to send a minimal PR for this 😄 .

[2020-11-15 19:26] CrankyOldITGuy-Dev opened #89 "heroku"

[2020-11-15 19:27] #89 closed, assigned to nobody

[2020-11-15 19:27] CrankyOldITGuy-Dev commented on #89
Sorry, attempting to do a search and left a comment...coffee hasn't kicked in yet.

[2020-11-23 12:27] mbagiella opened #90 "pretty-checkbox custom two colors"
Hi,
First of all, thank you for this usefull module.

I'm trying to customize the color to enable DarkMode and LightMode. (I'm using angular 11 with Angular Material)

My main css (style.scss) [not working]

`
@import '~pretty-checkbox/src/scss/variables';

$pretty--color-default:black;
$pretty--colors:(
  primary: black
);

.light {
  $pretty--color-default:white;
  $pretty--colors:(
    primary:

[2020-12-02 23:07] rbonomo commented on #55
[code]
This will give your switches a nice Bootstrap 3 input focus look.

[2020-12-03 06:21] peerawat-p opened #91 "required module 'shallow-clone'"
<img width="644" alt="Screen Shot 2563-12-03 at 13 20 18" src="https://user-images.githubusercontent.com/67724404/100971905-64454980-356a-11eb-80e9-42106af9b6cb.png">

[2020-12-09 18:54] stefgodin opened #92 "Disabled fieldset style is not applied"
The title is pretty explicit.

Checkboxes within a **disabled** **fieldset** tag are disabled but appears enabled.

I made a [jsfiddle](https://jsfiddle.net/u9zyv0dn/2/) with a simple scss workaround.

[2020-12-11 20:14] skillmatic-co commented on #34
Any official update here? Or is this library abandoned?

[2021-02-11 12:58] vicenterusso commented on #87
Any update on this @lokesh-coder ?

[2021-02-15 09:27] arisolt opened #93 "Using <i> icon as label breaks the design"
Hi,

Simply:

[code]

[2021-02-26 03:19] lridenour opened #94 "Label required. This should show in docs."
I spent hours trying to figure out why checkbox didn't work.  turns out that you HAVE to have an html LABEL  in there, at least when you're using the Icon option. Otherwise, it just doesn't work.  Please put this in somewhere where people can see this..  Otherwise, thank you... i love your code.....

[2021-03-29 09:48] johhnry commented on #34
Hi, thanks for the library!

I would like to do the exact same thing : move the label to the left of the checkbox.
Right now, if I put the label before the input html element, they overlap.

[2021-05-29 00:30] #37 closed

[2021-07-08 09:23] ghost opened #95 "Start with state on by default"
How do you set the default state on?
As some radio/checkboxes start life active and some not active.

Also, is there a way to set the state of a collection of radio/checkboxes when a master item is clicked on/off?

[2021-07-08 17:32] lokesh-coder commented on #95
hi @dxm38 I am not sure whether I got you question correctly. If you are referring to default checked state, you can add `checked` attribute to input element. Usually this is done using javascript dynamically. For a toggle, it would look like this,

[code]

[2021-07-08 18:37] ghost commented on #95
D'Oh really sorry!!! I had a typo and stupidly assumed something else was going on. Really appreciate you getting back so quickly.
Oh and the project is beautiful. Thanks again!

[2021-07-09 15:05] lokesh-coder commented on #95
Thanks @dxm38 ! :)

[2021-07-09 15:05] #95 closed, assigned to nobody

[2021-09-03 11:59] kpagcha opened #96 "Change label placement"
Maybe it's a dumb question because it's such a seemingly essential feature but I couldn't find it in the docs. How do you change the placement of the label? I'd like to have it before the "checkbox" element instead of after.

[2022-01-29 22:08] serlogo53 opened #97 "on mdb4 theme not working"
hi this is very good. but i can not execute well.
i have mdb4 theme and when i use checkbox or radio
animate effect working but not checked or uncheck.
is it support mdb4?
best regards.

[2022-07-06 14:56] jmcbsimmonds commented on #39
I was able to make pretty check box handle wrapping of long text for labels and allow for click-able links within them with the following:

.pretty .state label {
    white-space: normal;
    text-indent: unset;
    padding-left: 5vw; /* Change to your preferred dimensions */
}

/* This will make the use of an svg align correctly, you may need to add other formats if you use them. */
.pretty.p-svg

[2022-07-06 15:01] jmcbsimmonds commented on #25
I was able to make pretty check box handle wrapping of long text for labels and allow for click-able links within them with the following:

.pretty .state label {
white-space: normal;
text-indent: unset;
padding-left: 5vw; /* Change to your preferred dimensions */
}

/* This will make the use of an svg align correctly, you may need to add other formats if you use them. */
.pretty.p-svg .state .svg

[2022-07-25 16:13] LaFeh commented on #55
This is only a solution for the pseudo-class **focus**. Does anyone have an idea how to implement the pseudo-class **focus-visible** for a _pretty-checkbox_ . I want there to be a border around the input, only if the user is navigating with the keyboard(by tab) , not if the user uses the mouse.